.sudoku .cell {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: thin solid green;
    margin: 2px;
    overflow: hidden;
}
.sudoku .cell .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
}
.sudoku .cell .content.Filled {
    font-size: xx-large;
    color: green;
}

.sudoku .cell .content.Possibles .Possible  {
    position: absolute;
    display: block;
    font-size: 10px;
    width: 30%;
    height: 30%;
    text-align: center;
}
.changed {
   animation: yellow-background-fade 2s ease-in 1;
   animation-fill-mode: forwards;
}

@keyframes yellow-background-fade {
   0% {
       background: yellow;
   }
   100% {
      background: none;
   }
}

@keyframes yellow-fade {
   0% {
       background: yellow;
       color: black;
       opacity: 1;
   }
   100% {
      background: none;
        color: rgba(255,255,255,0);
       opacity: 0;
   }
}

.highlight {
   /*animation: yellow-fade 2s ease-in 1;
   animation-fill-mode: forwards;*/
    background-color: orange;
    opacity: 0.5;
}

.sudoku .p1 { left: 0; top: 0; }
.sudoku .p2 { left: 33%; top: 0;}
.sudoku .p3 { right:0; top: 0; }
.sudoku .p4 { left: 0; top: 33%; }
.sudoku .p5 { left: 33%; top: 33%; }
.sudoku .p6 { right:0; top: 33%; }
.sudoku .p7 { left: 0; bottom: 0; }
.sudoku .p8 { left: 33%; bottom: 0;}
.sudoku .p9 { right:0; bottom: 0; }


.sudoku > div:nth-child(3n+0) {
    border-bottom: thin solid black;
}

.sudoku .cell:nth-child(3n+0) {
    border-right: 2px solid black;
}


